ArchRhino_Module/.vs/

Intermediate/
Saved/
Binaries/
obj/
bin/
Geometry/
ThirdPerson/
.vs/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*/bin/
*/obj/
*.lock